[tool.poetry]
name = "pingdat"
version = "1.0.1"
description = "A simple ping exporter for Prometheus metrics."
authors = ["jheddings <jheddings@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.28.1"
click = "^8.1.3"
prometheus-client = "^0.16.0"
pydantic = "^1.10.4"
pyyaml = "^6.0"
ping3 = "^4.0.4"

[tool.poetry.group.dev.dependencies]
black = "^23.0.0"
isort = "^5.11.4"
flake8 = "^6.0.0"
pre-commit = "^3.0.0"
git-python = "^1.0.3"
pytest = "^7.2.0"
coverage = "^7.0.5"

[tool.poetry.scripts]
pingdat = "pingdat.__main__:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
