# Run pre-commit checks
---
name: Pre-commit Checks

"on":
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  precommit_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-python@v6.1.0
      - uses: pre-commit/action@v3.0.1
